@model IEnumerable<site_projetosocial_squad5.Models.ProdutoServico>


@{
    ViewData["Title"] = "EmpoDelas - Produtos e Serviços";
}

<link rel="stylesheet" href="~/css/produto.css">

<style>
        .teste{
            display: flex;
            flex-wrap: wrap;
        }
        section{
            margin: auto;
            
        }
</style>


<main>
    
          <div><h1 class="tituloProdutos">Produtos e Serviços</h1></div>                  
                
<section class="teste">
@foreach (var item in Model){
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <span class="span_item">@item.tipo_produtoServico</span>
    <h2 class="card-title">@item.nome_produtoServico</h2>
    <h6 class="card-subtitle mb-2 text-muted">@item.nomeNegocio_autonoma</h6>
    <p class="card-text"><strong>R$@item.preco_produtoServico</strong></p>
    
    <div class="div_botoes">
    <button class="btn btn-primary">
            <a class="a_produtos" asp-action="Details" asp-route-id="@item.id_produtoServico">Ver Mais</a>
    </button>
    <button class="btn btn-success">
        <a class="a_produtos" asp-action="Contatar" asp-controller="Autonoma" asp-route-id="@item.FK_id_autonoma">Contatar</a>
    </button>
    </div>
  </div>
</div>
}
</section>
</main>

