@model IEnumerable<site_projetosocial_squad5.Models.ProdutoServico>


@{
    ViewData["Title"] = "EmpoDelas - Produtos e Serviços";
}

<link rel="stylesheet" href="~/css/produto.css">

<style>
        .teste{
            display: flex;
            flex-wrap: wrap;
        }
        section{
            margin: 5%;
        }
    </style>


<main class="container">
    
          <div><h1 class="tituloProdutos">Produtos e Serviços</h1></div>                  
                
<section class="teste">
@foreach (var item in Model){
    <div class="card" style="width: 18rem;">
    <div class="card-body">
    <h5 class="card-title">@item.nome_produtoServico</h5>
    <h6 class="card-subtitle mb-2 text-muted">@item.nomeNegocio_autonoma</h6>
    <p class="card-text">@item.descricao_produtoServico</p>
    <p class="card-text">@item.preco_produtoServico</p>
    
    <a class="a_produtos" asp-action="Details" asp-route-id="@item.id_produtoServico">Ver Mais </a>|
    <a class="a_produtos" asp-action="Contatar" asp-controller="Autonoma" asp-route-id="@item.FK_id_autonoma">Contatar </a>|
    <a class="a_produtos" href="https://forms.gle/TYqWfbTQcKdGdQcN6" target="_blank">Afiliar-Se</a>
  
  </div>
</div>
}
</section>
</main>

