@model site_projetosocial_squad5.Models.Autonoma


@{
    ViewData["Title"] = "EmpoDelas - Produtos e Serviços";
}



<div>
    <h4>Autonoma</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_autonoma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_autonoma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sobrenome_autonoma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sobrenome_autonoma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email_autonoma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email_autonoma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.senha_autonoma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.senha_autonoma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone_autonoma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone_autonoma)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nomeNegocio_autonoma)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nomeNegocio_autonoma)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_autonoma">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

