@model site_projetosocial_squad5.Models.Afiliada

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>Afiliada</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_afiliada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_afiliada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sobrenome_afiliada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sobrenome_afiliada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email_afiliada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email_afiliada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.senha_afiliada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.senha_afiliada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.telefone_afiliada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.telefone_afiliada)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_afiliada">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
