@model IEnumerable<site_projetosocial_squad5.Models.Afiliada>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome_afiliada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sobrenome_afiliada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email_afiliada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.senha_afiliada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone_afiliada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome_afiliada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sobrenome_afiliada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email_afiliada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.senha_afiliada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone_afiliada)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_afiliada">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_afiliada">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_afiliada">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
