@model IEnumerable<site_projetosocial_squad5.Models.Cadastro>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nome_cadatro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.idade_cadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email_cadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.endereco_cadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cep_cadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.bairro_cadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cidade_cadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone_cadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomeNegocio_cadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefoneNegocio_cadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.categoriaNegocio_cadastro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nome_cadatro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.idade_cadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email_cadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.endereco_cadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cep_cadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bairro_cadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cidade_cadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone_cadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomeNegocio_cadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefoneNegocio_cadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.categoriaNegocio_cadastro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id_cadastro">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id_cadastro">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id_cadastro">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
