@model site_projetosocial_squad5.Models.Afiliacao

@{
    ViewData["Title"] = "[Admin] Sobre a Afiliação";
}



<div>
    <h4>Afiliacao</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.codigo_produtoServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.codigo_produtoServico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_id_afiliada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_id_afiliada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_id_produtoServico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_id_produtoServico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_afiliacao">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

