@model site_projetosocial_squad5.Models.Produto

@{
    ViewData["Title"] = "Detalhes do produto";
}


<body>

<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nome_produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nome_produto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.descricao_produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.descricao_produto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.preco_produto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.preco_produto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_id_cadastro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_id_cadastro)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FK_nome_negocio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FK_nome_negocio)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Voltar</a>
</div>
</body>

